name: Publish Python Package to PyPI

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build wheel

    # Show the file structure before building
    - name: Verify File Structure
      run: ls -R

    - name: Build package
      run: python -m build

    # Show what was built
    - name: Inspect Built Artifacts
      run: |
        ls -R dist
        unzip -l dist/*.whl

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@v1.8.6
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}